{
    "Port": 4002,
    "HttpPort": 3000,
    "bootstrap": [
        "/ip4/106.75.148.236/tcp/4002/ipfs/QmZwp7juHGq4sVfsFoJggGtUwLa3fQjccZSTB2dHbGHBM4"
    ],
    "signal":  "/ip4/106.75.148.236/tcp/9090/ws/p2p-websocket-star/",
    "enablePublicIp": false,
    "publicIp": "",
    "commission": false,
    "mnemonic": ""
}